h1 {
  font-family: "Arial", sans;
}
p {
  font-family: "Arial", sans;
}
h2 {
  font-family: "Arial", sans;
}
.youtube:link {
  font-color:red
}
.youtube:clicked {
  font-color:red
}
.discord:link {
  font-color:purple
}
.discord:clicked {
  font-color:purple
}
.twitter:link {
  font-color:light-blue
}
.twitter:clicked {
  font-color:light-blue
}
