h1 {
  font-family: "Arial", sans;
}
p {
  font-family: "Arial", sans;
}
h2 {
  font-family: "Arial", sans;
}
.youtube {
  font-color:red
}
.discord {
  font-color:purple
}
.twitter {
  font-color:light-blue
}
